body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #8ECAE6;
    color: #023047;
    border: 9px inset #023047;
    animation-name: rainiero;
    animation-duration: 10s;
}

@keyframes rainiero {
  from {background-color: #023047;}
  to {background-color: #8ECAE6;}
}

h3 {
    color: white;
    text-shadow: 2px 2px 4px #7D8597
}
h3:hover {
    background-color: #023E7D;
}